		<div class="fixed-nav" >
			<a class="btn-floating btn-large red">
	     		<i class="material-icons">menu</i>
		   	</a>
		   		<ul>
		    		<li>
		    			<a class="btn-floating red" href="/"><i class="material-icons">loyalty</i></a>
			    		</li>
			      		<li>
			      			<a class="btn-floating yellow darken-1" href="about.html"><i class="material-icons">assignment_ind</i></a>
			      		</li>
			      		<li>
			      			<a class="btn-floating green" href="contact.html"><i class="material-icons">description</i></a>
			      		</li>
			      		<li>
			      			<a class="btn-floating blue" href="resume.html"><i class="material-icons">chat</i></a>
			      		</li>
		    	</ul>
		</div>

		<div class="row footer">
			<p>© 2016 LY.</p>
		</div>
		<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/materialize/0.97.5/js/materialize.min.js"></script>
		<script src="//cdn.bootcss.com/plupload/2.1.9/plupload.full.min.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
