<div class="contant">
	<div class="s12 m6 l6">
		<div class="aimg">
			<img class="responsive-img" src="images/images.jpeg">
		</div>
		<ul class="linkme">
			<li>
				<a class="btn-floating red"><i class="iconfont">&#xe606</i></a>
			</li>
			<li>
				<a class="btn-floating green"><i class="iconfont">&#xe607</i></a>
			</li>
			<li>
				<a class="btn-floating blue"><i class="iconfont">&#xe608</i></a>
			</li>
			</ul>
			<p>不要放弃自己的想象力，不要给自己增加限制。</p>

			<a class="waves-effect waves-light btn light-blue lighten-2">HTML</a>
			<a class="waves-effect waves-light btn amber darken-2">CSS3</a>
			<a class="waves-effect waves-light btn yellow darken-1">Javascript</a>
			<a class="waves-effect waves-light btn  light-green accent-3">node</a>
			<a class="waves-effect waves-light btn  light-green accent-3">gulp</a>
	</div>
</div>
		