<div class="cblog col m8">
				<div class="blog-cel cel-show">
					<h2>Card Title</h2>
					<div class="bc-m">
						<p>I am a very simple card. I am good at containing small bits of 			information.
             				 I am convenient because I require little markup to use effectively.
             			 </p>
            		</div>
					
						<a href="" class="waves-light waves-effect">Javascirpt</a>
						<button class="btn waves-effect waves-light" type="submit" name="action">阅读全文
    							<i class="material-icons right">cloud</i>
  						</button>
					
				</div>

				<div class="blog-cel cel-show">
					<h2>Card Title</h2>
					<div class="bc-m">
						<p>I am a very simple card. I am good at containing small bits of 			information.
             				 I am convenient because I require little markup to use effectively.
             			 </p>
            		</div>
					
						<a href="" class="waves-light waves-effect">Javascirpt</a>
						<button class="btn waves-effect waves-light" type="submit" name="action">阅读全文
    							<i class="material-icons right">cloud</i>
  						</button>
					
				</div>

				<div class="blog-cel cel-show">
					<h2>Card Title</h2>
					<div class="bc-m">
						<p>I am a very simple card. I am good at containing small bits of 			information.
             				 I am convenient because I require little markup to use effectively.
             			 </p>
            		</div>
					
						<a href="" class="waves-light waves-effect">Javascirpt</a>
						<button class="btn waves-effect waves-light" type="submit" name="action">阅读全文
    							<i class="material-icons right">cloud</i>
  						</button>
					
				</div>

				<div class="blog-cel cel-show">
					<h2>Card Title</h2>
					<div class="bc-m">
						<p>I am a very simple card. I am good at containing small bits of 			information.
             				 I am convenient because I require little markup to use effectively.
             			 </p>
            		</div>
					
						<a href="" class="waves-light waves-effect">Javascirpt</a>
						<button class="btn waves-effect waves-light" type="submit" name="action">阅读全文
    							<i class="material-icons right">cloud</i>
  						</button>
					
				</div>

				<div class="blog-cel cel-show">
					<h2>Card Title</h2>
					<div class="bc-m">
						<p>I am a very simple card. I am good at containing small bits of 			information.
             				 I am convenient because I require little markup to use effectively.
             			 </p>
            		</div>
					
						<a href="" class="waves-light waves-effect">Javascirpt</a>
						<button class="btn waves-effect waves-light" type="submit" name="action">阅读全文
    							<i class="material-icons right">cloud</i>
  						</button>
					
				</div>
</div>
		